#**PART ONE**

In [10]:
input_file_route = '/content/sample_data/input.txt'

In [11]:
# Initialize the lists
column1 = []
column2 = []

# Read the input.txt file
with open(input_file_route, 'r') as file:
    for line in file:
        data = line.split()  # Split the line into two columns
        column1.append(int(data[0]))  # Add to the first list
        column2.append(int(data[1]))  # Add to the second list

In [5]:
# Sort the lists in ascending order
column1.sort()
column2.sort()

In [12]:
# Calculate the absolute difference for each pair of elements
result = [abs(a - b) for a, b in zip(column1, column2)]

In [13]:
# Sum the resulting list
total = sum(result)

In [14]:
total

29709735

#**PART TWO**

In [16]:
input_file_route = '/content/sample_data/input.txt'

In [17]:
# Initialize the lists
column1 = []
column2 = []

# Read the input.txt file
with open(input_file_route, 'r') as file:
    for line in file:
        data = line.split()  # Split the line into two columns
        column1.append(int(data[0]))  # Add to the first list
        column2.append(int(data[1]))  # Add to the second list

In [18]:
# Count occurrences in column2 using dictionary comprehension
counts = {number: column2.count(number) for number in set(column2)}

In [19]:
# Multiply each value in column1 by its count in the dictionary or 0 if not found
result = sum(value * counts.get(value, 0) for value in column1)

In [20]:
result

24643097